body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#theBlock {
    height: 600px;
    width: 700px;

    background-color: lightgray;
    border: 10px solid darkgray;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 80px;
    width: 80px;
    
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    
    border: 5px solid darkgray;
}

.blue-soldier {
    background-color: blue;
}

.red-soldier {
    background-color: red;
}
